<!DOCTYPE html>
<html {{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    <nav>
        {{page.navbar}}
			<div id="tk-navbar" class="navbar">
				<a href="#"><i class="fas fa-arrow-left"></i></a>
				<a href="#"><img id="home-button" src="tc_logo2.svg"/></a>
				<a href="search.html"><i class="fas fa-search"></i></a>
			</div>
		</nav>

		<div id="logo-tk">
        {{page.header}}
        <!--<img id="logo-img" src="tk_logo.svg">-->.
        </div>

		<div id="wrapper">
			

			<div id="cards-wrapper">
			{{page.sidebar_second}}
				<div class="card-container">
					{{page.sidebar_second}}
				
				</div>

			<p class="space-top-1 body-text text-centered">
				Följ oss på våra sociala medier<br /><span>@tcstenungsund</span>
			</p>

			<div class="social-flex">
				{{ page.page_bottom }}
				<a
					class="space-bottom-1 social-icon"
					onclick="window.open('https://www.facebook.com/tcstenungsund/', '_system'); return false;"
					><i class="fab fa-facebook"></i
				></a>
				<a
					class="space-bottom-1 social-icon"
					onclick="window.open('https://www.instagram.com/tcstenungsund/', '_system'); return false;"
					><i class="fab fa-instagram"></i
				></a>
				<a
					class="space-bottom-1 social-icon"
					onclick="window.open('https://twitter.com/tcstenungsund?lang=sv', '_system'); return false;"
					><i class="fab fa-twitter"></i
				></a>
			</div>
		</div>
</body>